<header>
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <a routerLink="/">
          <img class="logo" src="../../assets/images/logo.png" alt="RS - Front End Developer">
        </a>
      </div>
      <div class="col-sm-10">
        <nav>
          <ul>
            <li><a class="active" routerLink="/">Home</a></li>
            <li><a routerLink="/quem-sou">Quem Sou Eu</a></li>
            <li><a routerLink="/que-faco">O Que Faço</a></li>
            <li><a routerLink="/trabalhos">Meus  Trabalhos</a></li>
            <li><a routerLink="/contato">Contato</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
