header{
    width: 100%;
    position: absolute;
    z-index: 1;
    padding: 15px 0;
    nav{
        float: right;
        ul{
            li{
                display: inline-block;
                margin-left: 5px;
                a{
                    padding:5px 10px;
                    height: 35px;
                    line-height: 25px;
                    display: block;
                    color: #fff;
                    text-transform: uppercase;
                    font-size: 12px;
                    font-weight: bold;
                    border-bottom: 2px solid transparent;
                    &:hover{
                        border-color: #fff;
                        text-decoration: none;
                    }
                    &.active{
                        color: #fce38a;
                        border-color: #fce38a;
                        text-decoration: none;
                    }
                }
                &:first-child{
                    margin-left: 0;
                }                
            }
        }
    }
    .logo{
        max-height: 35px;
    }
}