<app-carousel></app-carousel>

<section class="container mtop-50 mbottom-50 text-center">
    <img src="../../assets/images/thumb-ronery-front-end.jpg" alt="Ronery Souza - Front End Developer" class="thumb-picture rounded size-120">
    <h2>
        <span>Um pouco sobre</span>
        Quem sou eu
    </h2>
    <hr class="hifen">
    <p>
        Nasci no interior da Bahia, onde mesmo com escasses de recursos tecnológicos fui apresentado a um computador aos 15 anos
        a um computador SempToshiba com 128mb de mémoria RAM. Foi amor à primeira vista! Infernizei a vida do meu pai dizendo
        que ter um computador iria ajudar nos negócios dele.
        <br>
        <strong>Adivinha seu deu certo?</strong>
    </p>
    <a routerLink="/quem-sou" class="btn btn-primary mtop-15">Descubra aqui!</a>
</section>

<hr>

<section class="container mtop-50 mbottom-50 text-center">
    <h2>
        <span>Um pouco do</span>
        Que Faço
    </h2>
    <hr class="hifen">
    <p>
        Descobri minha paixão pela web aos 16 anos, mas vim assumi-la aos 20, onde fiz um curso de Web Design. Dentro desse universo
        de desenhar telas e fazer a mágica do visual ganhar vida no front end, que me joguei em aprender por conta própria:
    </p>
    <div class="row mtop-50 mbottom-15 text-left">
        <div class="col-sm-6 col-md-4 col-md-offset-2">
            <div class="skill-box">
                <i class="material-icons">computer</i>
                <h4>Web Design</h4>
                <p>Crição e desenvolvimento de websites com foco na experiência e usabilidade do usuário.</p>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="skill-box">
                <i class="material-icons">code</i>
                <h4>Front End</h4>
                <p>Crição e desenvolvimento de websites com foco na experiência e usabilidade do usuário.</p>
            </div>
        </div>
    </div>
</section>

<section class="gray-section ptop-50 pbottom-50 text-center">
    <div class="container">
        <h2>
            Por Onde Andei
            <span>enquanto você me procurava, rs.</span>
        </h2>
        <hr class="hifen">
        <p>
            Veja alguns lugares que me orgulho de ter contribuído com meu conhecimento e onde aprendi muito adquirindo mais.
        </p>
        <div class="row mtop-15">
            <div class="col-sm-3">
                <div class="box-company">
                    <img src="../../assets/images/logo-daycoval.jpg" alt="Banco Daycoval" class="thumb-picture rounded size-120">
                    <h4>Banco Daycoval</h4>
                    <p class="small">Front End Developer</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="box-company">
                    <img src="../../assets/images/logo-marisa.jpg" alt="E-commerce Marisa.com.br" class="thumb-picture rounded size-120">
                    <h4>E-commerce Marisa.com.br</h4>
                    <p class="small">Front End Developer</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="box-company">
                    <img src="../../assets/images/logo-taboca.jpg" alt="Editora Taboca" class="thumb-picture rounded size-120">
                    <h4>Editora Taboca</h4>
                    <p class="small">Front End Developer</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="box-company">
                    <img src="../../assets/images/logo-emporio.jpg" alt="Empório de Mídia" class="thumb-picture rounded size-120">
                    <h4>Empório de Mídia</h4>
                    <p class="small">Web Designer</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mtop-50 text-center">
    <h2>
        <span>enquanto você me procurava, rs.</span>
        Meus Trabalhos
    </h2>
    <hr class="hifen">
    <p>
        Veja alguns lugares que me orgulho de ter contribuído com meu conhecimento e onde aprendi muito adquirindo mais.
    </p>
    <div id="grid-jobs" class="row no-space mtop-50">
        <div class="col-sm-4">
            <div class="job">
                <div class="bg-job" style="background-image: url(../../assets/images/jobs/feature-investimento-daycoval.jpg)"></div>
                <div class="hover-job">
                    <div class="box-hover">
                        <i class="material-icons">monetization_on</i>
                        <h3>Daycoval Investe</h3>
                        <p>Design, UX, Front End, HTML, CSS, JQuery</p>
                    </div>
                </div>
            </div>
            <div class="job">
                <div class="bg-job" style="background-image: url(../../assets/images/jobs/feature-ligado-enem.jpg)"></div>
                <div class="hover-job">
                    <div class="box-hover">
                        <i class="material-icons">class</i>
                        <h3>Ligado no Enem</h3>
                        <p>Design, UX, Front End, HTML, CSS, JQuery</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="job size-g">
                <div class="bg-job" style="background-image: url(../../assets/images/jobs/feature-marisa.jpg)"></div>
                <div class="hover-job">
                    <div class="box-hover">
                        <i class="material-icons">card_giftcard</i>
                        <h3>Marisa.com.br</h3>
                        <p>Front End, HTML, CSS, JQuery</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="job">
                <div class="bg-job" style="background-image: url(../../assets/images/jobs/feature-ecommerce-cambio.jpg)"></div>
                <div class="hover-job">
                    <div class="box-hover">
                        <i class="material-icons">euro_symbol</i>
                        <h3>E-commerce Câmbio</h3>
                        <p>Design, UX, Front End, HTML, CSS, JQuery</p>
                    </div>
                </div>
            </div>
            <div class="job">
                <div class="bg-job" style="background-image: url(../../assets/images/jobs/feature-carnaval.jpg)"></div>
                <div class="hover-job">
                    <div class="box-hover">
                        <i class="material-icons">gesture</i>
                        <h3>Campanha Carnaval</h3>
                        <p>Design, UX, Front End, HTML, CSS, JQuery</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>